In [1]:
import pandas as pd

In [25]:

def read_sdf(path):
        sdf_file = open(path, 'r')
        content = sdf_file.read()
        mol_list = content.split("$$$$\n")
        mol_dic = {}
        for mol in mol_list:
            if mol == "":
                continue
            id = mol.split("\n", 1)[0]
            mol_dic.update({id: mol})
        sdf_file.close()
        return mol_dic

def read_conf(path):
    sdf_file = open(path, 'r')
    id_list = []
    mol_list = []
    content = sdf_file.read()
    sdf_list = content.split("$$$$\n")
    sdf_file.close()
    mol_dic = read_sdf(path)

    for sdf in sdf_list:
        if sdf == "":
            continue
        mol_parts = sdf.split("M  END\n")
        mol_parts.remove(mol_parts[1])
        mol_parts.append("M  END")
        mol = ''.join(mol_parts)
        id = mol.split("\n", 1)[0]
        mol_list.append(mol)
        id_list.append(id)

    dict = {'id': id_list, 'mol_3d': mol_list}
    df = pd.DataFrame(dict)
    return df

In [33]:
info = '/Users/song-inhyeok/Downloads/929135777-out.sdf'
tf = pd.DataFrame()

In [34]:
df_conf=read_conf(info)
tf = tf.append(df_conf)

/var/folders/z8/c06r1kl565d25jxr6yb7rvq00000gn/T/ipykernel_17748/628299755.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tf = tf.append(df_conf)

In [28]:
df_conf

  id                                             mol_3d
0     \n                    3D\n Schrodinger Suite 2...
1     \n                    3D\n Schrodinger Suite 2...
2     \n                    3D\n Schrodinger Suite 2...
3     \n                    3D\n Schrodinger Suite 2...

In [35]:
tf

  id                                             mol_3d
0     \n                    3D\n Schrodinger Suite 2...
1     \n                    3D\n Schrodinger Suite 2...
2     \n                    3D\n Schrodinger Suite 2...
3     \n                    3D\n Schrodinger Suite 2...

In [36]:
tf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4 non-null      object
 1   mol_3d  4 non-null      object
dtypes: object(2)
memory usage: 192.0+ bytes